extends layout

append head
  title Find a Partner - Constellation
  script(src='/static/join.js')

block content
  .row: .col-xs-12
    h2 Find a partner
    h3 Collaborating on: #{project}

  .row: .col-xs-12
    h3 Pick your section:
    svg(width='306', height='160')
      path#F.section(d='M 50 40 l 50 20 l -8 20 l -50 -20 Z M 105 60 l 48 0 l 0 20 l -56 0 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#E.section(d='M 256 40 l -50 20 l 8 20 l 50 -20 Z M 153 60 l 48 0 l 8 20 l -56 0 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#D.section(d='M 90 85 l -50 -20 l -20 50 l 50 20 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#C.section(d='M 95 85 l -20 50 l 75 0 l 0 -50 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#B.section(d='M 156 85 l 55 0 l 20 50 l -75 0 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#A.section(d='M 216 85 l 50 -20 l 20 50 l -50 20 Z', fill='#BC6060', onclick='onSectionSelect(this);')
      path#board(d='M 110 30 l 80 0 Z', stroke='black', stroke-width='3', stroke-linecap='round')
      g(font-size='15', font-family='sans-serif', fill='black', stroke='none', text-anchor='middle')
        text(x='150', y='50') Front
      |   Sorry, your browser does not support inline SVG.

  .row: .col-xs-10.col-sm-8.col-md-6.col-lg-4
    form#join
      .form-group
        h3 My joincode: #[span.text-danger= joincode.join(' ')]
      .form-group
        .input-group
          input#partner.form-control.input-lg(type='text', disabled=true, placeholder="Enter your partner's joincode")
          span.input-group-btn
            button.btn.btn-danger.btn-lg Join
    h3#status.text-primary

  style.
    .section { opacity: 0.5; }
    .section:hover { opacity: 0.7; cursor: pointer; }
    .section:active { opacity: 1; }
    .section.selected { opacity: 0.9; }

  script.
    rendezvous(!{JSON.stringify(joincode.join(' '))}, $('#join'), $('#partner'), $('#status'));
  script.
    function onSectionSelect(path) {
      var joincodeBox = document.getElementById('partner');
      joincodeBox.disabled = false;
      joincodeBox.focus();

      var paths = document.getElementsByClassName('section');
      for (var i = 0; i < paths.length; i++) {
        paths[i].classList.remove('selected');
      }
      path.classList.add('selected');

      $.ajax({
        url: "https://docs.google.com/forms/d/e/1FAIpQLSeaEH9itZ-6vi7PhLhjRzFSN1rlVJBn5Pb3QaXjUzuAWf6IXw/formResponse"
          + "?entry.1593350312=#{project}"
          + "&entry.1454600059=#{encodeURIComponent(locals.authusername)}"
          + "&entry.1297934788=" + path.id
          + "&submit=Submit",
        type: "POST"
      });
    }
