extends ../layout

append head
  title Collaboration - Constellation

block content
  .row: .col-xs-12
    a#back(href=`/dashboard/${project}/${milestone ? `m/${milestone}/`: ''}${cutoff || ''}${regexes ? '/' + regexes : ''}`) all #{project} collaborations
    h2 #{project}: #[span#partners]
      br
      if milestone
        small #[span.label.label-primary= milestone] checkoff using
      if cutoff
        |  #[small #[span.label.label-warning= cutoff] work]
      else
        |  #[small #[span.label.label-success current] work]
  
  if milestone
    .row: .col-xs-12: .form-horizontal
      .form-group
        label.col-xs-3.col-sm-2.control-label Comment
        .col-xs-9.col-sm-8.col-md-7.col-lg-6
          input#comment.form-control(type='text')
      .form-group
        label.col-xs-3.col-sm-2.control-label Checkoff
        .col-xs-9.col-sm-10
          #score.pull-left.btn-group(data-toggle='buttons')
            label.btn.btn-link(title='Shortcut: 1')
              input(type='radio' name='score')
              | &nbsp;#[span.glyphicon.glyphicon-minus]&nbsp;
            label.btn.btn-link(title='Shortcut: 2')
              input(type='radio' name='score')
              | &nbsp;#[span.glyphicon.glyphicon-ok]&nbsp;
            label.btn.btn-link(title='Shortcut: 3')
              input(type='radio' name='score')
              | &nbsp;#[span.glyphicon.glyphicon-ok]+
          .col-xs-1: p#grader.form-control-static: i no grader

  if visual == 1
    #controls-total-diff.controls.col-xs-12
      .row
        p.col-xs-9 deleted code
        .col-xs-3 
          input#cb-deleted-code(type='checkbox')

  
  #files.row
  
  template#file
    .file-column.col-xs-6: .tile.panel.panel-default: .panel-body
      h4
      pre.diff: code.java
  
  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
    var collabid = !{JSON.stringify(collabid)};
    var milestone = !{JSON.stringify(milestone || false)};
    var cutoff = !{JSON.stringify(cutoff || false)};
    var visual = !{JSON.stringify(visual || false)};
  script(src='/public/sharedb.js')
  script(src='/public/moment.js')
  script(src='/public/diff.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js')
  script(src='/static/dashboard/collab.js')
  if milestone
    script(src='/static/dashboard/checkoff.js')
  script(src='//web.mit.edu/lu16j/www/localization-prototype.js')
