extends ../layout

append head
  - let fullwidth = true
  title #{project} Diffs - Constellation

block content
  .row: .col-xs-12
    a#back(href=`/dashboard/${project}`) all #{project} collaborations
    h2 #{project} diffs
      br
      if filepath
        small #[span.label.label-info= filepath]
      |  #[small: span#limited.label.label-danger]
  
  #collabs.masonary
  
  #dupes-header.row.faded.hidden: .col-xs-12: h3 No longer active
  
  #dupes.faded.masonary
  
  #mismatch-header.row.hidden: .col-xs-12: h3 Collaboration not found
  
  #mismatch.masonary
  
  template#collab
    .collab: .tile.panel.panel-default: .panel-body
      h4: a
      div.files
  
  template#file
    .file
      strong.filename
      pre.diff: code.java
  
  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
    var filepath = !{JSON.stringify(filepath || false)};
    var milestone = false;
    var cutoff = false;
  script(src='/public/sharedb.js')
  script(src='/public/diff.js')
  script(src='/static/dashboard/collabs.js')
  script(src='/static/dashboard/diffs.js')
